@charset "utf-8";
body {
	background-image: url(../images/index/bg_body.png);
	margin-top: 0px;
}
.container {
	width: 1030px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	background-image: url(../images/index/header.png);
	height: 71px;
	width: 948px;
}
.navbar {
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
.navbar ul {
	margin: auto;
	float: left;
	list-style-type: none;
}
.navbar ul li {
	text-decoration: none;
	display: inline;
	margin-top: auto;
	margin-bottom: auto;
	float: none;
	padding-right: 25px;
	margin-right: auto;
	margin-left: auto;
}
.footer {
	background-image: url(../images/index/line.png);
	margin-right: auto;
	margin-left: auto;
	height: 6px;
	width: 1030px;
	float: left;
	font-family: Broadway;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
}
.container_footer {
	padding: 20px;
	float: right;
	width: 576px;
}

