@charset "utf-8";
body {
	background-image: url(../images/bg_body.png);
	margin-top: 0px;
}
.container {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	background-image: url(../images/bg_header.png);
	width: 1024px;
	height: 185px;
}
.navbar ul {
	margin: 0px;
	padding: 0px;
	/*float: left to push it left*/
	float: right;
	list-style-type: none;
}
.navbar ul li {
	display: inline;
	margin-right: 10px;
	background-image: url(../images/navbar_button.png);
	/*without dimensions, the buttons wraps around text in both browser and dreamweaver*/
	/*height: 44px;
	width: 178px;*/
	background-color: #FC3;
	border: 1px solid #FF0;
	/*float for background to have effect*/
	/*removing float allowed box to squeeze in around text*/
	float: left;
	font-family: "Bell MT";
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
	clear: none;
	/*left: auto;
	top: auto;
	right: auto;
	bottom: auto;*/
	text-align: center;
	color: #006;
	/*dropdown absolute items to its relative/parent*/
	/*property not working in browsers unless you have float left or right on*/
	position: relative;
}
/*
#about {
	/*dropdown absolute items to its relative/parent*/
	/*position: relative;
}*/
.navbar ul li a {
	text-decoration: none;
}
.navbar ul li a:hover {
	background-image: url(../images/navbar_button_hover.png);
	font-family: "Bell MT";
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	/*having float eliminates hovering effect*/
	/*margin-right: auto;
	margin-left: auto;*/
	color: #0F0;
	
	/*height: 44px;
	width: 178px;*/
	border: 1px solid #33F;
	background-color: #36F;
	display: inline;
	clear: none;
	/*don't have float or else blue button gets out of line*/
	float: none;
}
.navbar ul li a.current {
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
	background-color: #3F3;
	background-image: url(../images/navbar_button_active.png);
	text-align: center;
	border: 1px solid #360;
	color: #F36;
}

.navbar ul li .subnav {
	display: none;
	/*position: absolute;*/
}
.navbar ul li .subnav li {
	/*background-image: url(../images/resumes/navbar_button.png);*/
	/*border: 1px solid #FFF;*/	
	/*leave out float:none or have float:left so dropdown shows*/
	float: left;
	
}

.navbar ul li .subnav li a {
	
	/*height: 44px;*/
	font-family: "Bell MT";
	font-size: 24px;
}
.navbar ul li:hover ul.subnav {
	display: block;
	position: absolute;
	padding-top: 1px;
	padding-bottom: 1px;
	
}
.navbar ul li:hover ul.subnav a {
	width: 160px;
	display: block;
	/*line below mushes list items together*/
	/*position: absolute;
	text-decoration: none;*/
}

.title {
	font-family: "Bell MT";
	color: #63C;
	font-weight: bolder;
	text-transform: capitalize;
	height: 70px;
	width: 200px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	font-size: 100px;
}

/*for article: start*/
.body {
	width: 760px;
	margin: 20px auto;
	font-family: sans-serif;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	/*
	margin-top: 20px;
	margin-bottom: 20px;*/
	/*top, right, bottom, left*/
	/*margin: 20px 0 20px 0;
	/*(top,bottom),(;eft,right)
	margin: 20px 0;
	/*two above identical*/
} 


article h2 {
	margin: 0;
	margin-top: 0;
}	
.panel {
	background-color: #F8F8F8;
	height: 600px;
	width: 800px;
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #CCC;
	border-radius: 6px;
}
/*for article: end*/
.progress-container {
	background-image: url(../images/blog/progress_bg.png);
	height: 84px;
	width: 472px;
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	
}
.progress-selected {
	background-image: url(../images/blog/progress_selected.png);
	display: block;
	height: 73px;
	width: 73px;
	/*margin doesn't seem to be working for */
	margin-top: 5px;
	margin-left: 15px;
	z-index:4;
	
}



/*for article: start*/
.continue {
	float: right;
}
/*must have no space between continue and after*/
.continue:after {
	content: ')';
}

.continue:before {
	content: '(';
}

article iframe {
	float: left;
	margin-right: 20px;
}

a {
	color: #306;
}

.meta {
	padding-left: 0;
	/*top, (right,left), bottom*/
	margin: 0 0 8px;
}

.meta a, .post-info a {
	font-style: italic;
	font-size: 14px;
}

.meta li {
	display: inline;
}
/*creating divider between articles and webroundups*/
.meta li:after {
	/*\ means start of something*/
	content: '\\';
	padding: 0 2px;
	color: #999;
}
/*after last child of li parent*/
.meta li:last-child:after {
	/*none not working*/
	content: '';
}

h2 {
	font-size: 30px;
	/*line height not working here*/
	llne-height: 1em;
	letter-spacing: -1px;
}

.preview {
	float: right;
	/*use below to see size of div class*/
	/*background: red;*/
	/*must make this element thin enough to fit in body*/
	width: 300px;
}


.post-info {
	background: #f3f3f3;
	color: #999;
	padding: 2px;
	/*eliminate empty greyspace*/
	float: left;
	font-size: 14px;
	
}

.wrap {
	margin: auto;
}
/*laater things take precendence over earlier stuff*/

/*overrides a {}*/
.post-info a {
	color: #999;
}

p {
	/*avoid interfering with floats*/
	clear: both;
}
/*for article: end*/
/*progress bar*/
.item-number {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 27px;
	color: #BaBaba;
	text-decoration: none;
	text-align: center;
	display: block;
	height: 73px;
	width: 73px;
	position: absolute;
	padding-top: 15px;
	margin-top: 5px;
	margin-left: 14px;
}
.item-number:nth-child(2){
	margin-left: 200px;
}
.item-number:nth-child(3){
	margin-left: 382px;
}

/*main content*/
.main-content{
	width:360px;
	padding:20px;
}

.content-switcher {
	display: none;
}

.content-switcher:first-child{
	display: block;
}
.footer {
	height: 75px;
	width: 1024px;
	margin: auto;
	background-image: url(../images/bg_footer.png);
}
form {
	width: 100px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 30px;
	text-align: center;
}
.custom {
	border-radius: 5px;
	/*certain browser*/
	-webkit-border-radius: 5px;
	background-color: #FFF;
	border: 1px solid #CCC;	
	outline: none;
}
.custom:focus {
	border: 1px solid #56b4ef;
	/*box-shadow is a css3 element*/
	/*x-axis,y-axis, blur, spread*/
	box-shadow: 0px 0px 3px 1px #c8def0;
}
